[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/hugo-theme-ghci"]
	path = themes/hugo-theme-ghci
	url = https://github.com/Binary-Eater/hugo-theme-ghci.git
